.button {
    font-weight: 700;
    font-size: 1rem;

    background-color: var(--primary);
    color: white;

    border: 1px solid var(--primary);
    border-radius: 0.5rem;

    padding: 0.375rem 1rem;

    cursor: pointer;

    display: inline-block;
}

.button:hover {
    opacity: 0.9;
}
