.ship-placement-screen {
    width: 20rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .ship-placement-screen {
        width: 100%;
        max-width: 40rem;
    }
}

.ship-placement-screen__main {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .ship-placement-screen__main {
        flex: 1;
        width: 100%;
        max-width: none;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

.ship-placement-screen__footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
