.start-screen {
    width: 20rem;
    padding: 4rem 2rem;

    border-radius: 1rem;
    box-shadow:
        rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.start-screen__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.75rem;
}

.start-screen__footer {
    text-align: center;
}
