.main {
    flex: 1;
    width: 100%;
    padding: 0 2rem;

    justify-content: center;
    display: flex;
    align-items: center;
}

@import url("./mains/start-screen.css");
@import url("./mains/ship-placement-screen.css");
@import url("./mains/battle-screen.css");
