:root {
    --danger: oklch(63.7% 0.237 25.331);
    --warning: oklch(79.5% 0.184 86.047);
    --success: oklch(72.3% 0.219 149.579);
    --neutral: oklch(62.3% 0.214 259.815);

    --txt-primary: oklch(26.9% 0 0);
    --txt-secondary: oklch(37.1% 0 0);
}
