@import url("./styles/reset.css");

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

.player-gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.player-gameboard__tile {
    aspect-ratio: 1/1;
    border: 1px solid black;
}

.player-gameboard__tile.ship-tile {
    background-color: gray;
}

.player-gameboard__tile.hover-preview {
    background-color: red;
}

.player-gameboard__tile.miss {
    background-color: yellow;
}

.player-gameboard__tile.hit {
    background-color: green;
}

.ship-card.active {
    font-weight: bold;
}

.ship-card.placed {
    text-decoration: line-through;
}
